.panel {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.leftPart,
.rightPart {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.leftPart {
    width: 15vw;
    align-items: center;
    background: #ffffff;
}

.rightPart {
    height: 100vh;
    width: 85vw;
}

.leftPart img {
    width: 20vh;
    height: 20vh;
}
header {
    width: 85vw;
    height: 10vh;
    padding: 3vw;
    box-sizing: border-box;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

header span {
    cursor: pointer;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header span img {
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
}

.notesList {
    height: 80vh;
    width: 15vw;
    text-align: center;
}

.note {
    padding: 10px 20px;
    width: 85vw;
    height: 90vh;
    box-shadow: inset 8px 8px 20px -15px rgba(66, 68, 90, 1);
}

.note .mdxeditor {
    padding: 10px 20px;
}

.note .mdxeditor-toolbar {
    /* background-color: limegreen;
    color: blue; */
    box-shadow: #b6b6b6 0 0 10px;
    top: 10px;
}

.markdown h1 {
    color: green;
}

.markdown p {
    padding: 10px 0px;
}
.markdown li {
    padding: 5px 10px;
}

.markdown h3 {
    padding: 10px 0px;
}

.noteBox {
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border-radius: 6%; */
    border: 1px solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.addButton {
    margin-top: 2vh;
    width: 50%;
    height: 6vh;
    background: #444444;
    color: #ffffff;
    font-size: 18px;
}

.notesList span {
    font-size: 25px;
}
