.panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.leftPart,
.rightPart {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.leftPart {
    width: 15%;
    height: 100%;
    align-items: center;
    background: #ffffff;
}

.rightPart {
    width: 85%;
    height: 100%;
}

.leftPart img {
    width: 20vh;
    height: 20%;
}

.notesList {
    height: 80%;
    width: 100%;
    padding: 5px;
    text-align: center;
}

header {
    width: 100%;
    height: 10%;
    padding-right: 3vw;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

header span {
    cursor: pointer;
    /* height: 6vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
    font-size: 20px;
    color: #444444;
}

header span img {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
}

.note {
    width: 100%;
    height: 90%;
    box-shadow: inset 8px 8px 20px -15px rgba(66, 68, 90, 1);
}

.note .mdxeditor {
    padding: 10px 20px;
}

.note .mdxeditor-toolbar {
    box-shadow: #b6b6b6 0 0 10px;
    top: 10px;
}

.markdown h1 {
    color: green;
    font-size: 40px;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(66, 68, 90, 1);
}

.markdown h2 {
    font-size: 30px;
}

.markdown p {
    padding: 10px 0px;
}

.markdown li {
    padding: 5px 10px;
}

.markdown ul {
    list-style: square;
}

.markdown h3 {
    padding: 10px 0px;
}

.markdown hr {
    border: 1px solid #444444;
}

.markdown a {
    text-decoration: none;
    color: rgb(18, 46, 206);
    text-shadow: 0.5px 0.5px 0.5px #1c52d0;
    cursor: pointer;
}

.noteBox {
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border-radius: 6%; */
    border: 1px solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.addButton {
    margin-top: 2vh;
    max-width: 60%;
    /* width: 60%; */
    /* height: 6vh; */
    padding: 5px;
    background: #444444;
    color: #ffffff;
    font-size: 18px;
}

.notesList span {
    font-size: 25px;
}
