.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    width: 78vw;
    height: 800px;
    /* padding: 20px; */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fade 0.5s ease;
}

#leftPart, #middlePart, #rightPart {
    flex: 1;
    height: 100%;
}

#leftPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leftPart img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#middlePart {
    box-sizing: border-box;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    flex: 1.5;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#rightPart {
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notePanelBox {
    width: 90%;
    height: 5vh;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    background: #ffffff;
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    /* opacity: 0.75; */
}
